Temp/
obj/
Library/
SolemnUnity.sln
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor-firstpass.csproj
solemnunity222.sln
solemnunity222.csproj
solemnunity222.Plugins.csproj
solemnunity222.Editor.Plugins.csproj

\.vs/
/*.csproj